# Zephyr
.west
build/
deps/

.vscode/settings.json
.vscode/cpp.code-snippets
.DS_Store

# Environments
.env
.venv

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.egg-info
