/*
 * Copyright (c) 2025 Thomas Boje
 * Copyright (c) 2026 Pavel Löbl
 * Copyright (c) 2026 James Bennion-Pedley
 * SPDX-License-Identifier: Apache-2.0
 */

#include <wch/ch32v307/ch32v307vc.dtsi>
#include <zephyr/dt-bindings/gpio/gpio.h>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include "ch32v307v_evt_r1-pinctrl.dtsi"

// TODO remove before merging
#include <zephyr/dt-bindings/led/led.h>

/ {
	model = "wch_ch32v307v_evt_r1";
	compatible = "wch,ch32v307";

	chosen {
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
		zephyr,console = &usart1;
		zephyr,shell-uart = &usart1;
	};

	buttons {
		compatible = "gpio-keys";

		user_button0: s2 {
			label = "user";
			gpios = <&gpioa 1 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
			zephyr,code = <INPUT_KEY_0>;
		};
	};

	aliases {
		sw0 = &user_button0;
	};
};

&clk_hse {
	status = "okay";
};

&pll {
	clocks = <&clk_hse>;
	status = "okay";
};

&rcc {
	clocks = <&pll>;
};

&gpioa {
	status = "okay";
};

&gpiob {
	status = "okay";
};

&gpioc {
	status = "okay";
};

&gpiod {
	status = "okay";
};

&gpioe {
	status = "okay";
};

&usart1 {
	status = "okay";
	current-speed = <115200>;
	pinctrl-0 = <&usart1_default>;
	pinctrl-names = "default";
};

// TODO remove this node before merging
&spi1 {
	status = "okay";
	pinctrl-0 = <&spi1_default>;
	pinctrl-names = "default";

	led_strip: ws2812@0 {
		compatible = "worldsemi,ws2812-spi";
		status = "okay";
		reg = <0>;
		spi-cpha;
		spi-one-frame = <0xf0>;  /* 1100ns HIGH */
		spi-zero-frame = <0x80>; /* 460ns HIGH */
		spi-max-frequency = <4600000>;
		chain-length = <1>;
		color-mapping = <LED_COLOR_ID_GREEN LED_COLOR_ID_RED LED_COLOR_ID_BLUE>;
	};
};

&rng {
	status = "okay";
};

&mac {
	status = "okay";
	pinctrl-0 = <&mac_default>;
	pinctrl-names = "default";
	phy-connection-type = "internal";
	phy-handle = <&eth_phy>;
};

&mdio {
	status = "okay";
	pinctrl-0 = <&mdio_default>;
	pinctrl-names = "default";

	eth_phy: ethernet-phy@0 {
		compatible = "ethernet-phy";
		reg = <0x00>;
	};
};

zephyr_udc0: &usb0 {
	status = "okay";

	cdc_acm_uart0: cdc_acm_uart0 {
		compatible = "zephyr,cdc-acm-uart";
		label = "Zephyr USB CDC-ACM";
	};
};
